#nav #blog_name {
    display: flex;
    align-items: center;
    height: 60px;
    white-space: nowrap;
    margin-left: 10px;

}

#nav #blog_name .avacter,
#nav #blog_name img {

    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
}

#nav #blog_name a {
    margin-left: 5px;
    font-size: 1.3em;
    display: inline-block;

}